.fond{
    background: linear-gradient(to right,#efe9f3, #bfa6cf,#500148);
    
    min-height:100vh;
}


.formProfil{
    width:20%;
    margin: -30px 0 0 0;
  
}
.connect{
    float: right ;
    margin-top: 50px;
    margin-right :50px;
    font-size:large;
    font-weight:bold;
    text-decoration: overline;
}

.profil{
    display:block;
    width:350px;
    margin: 30px 33% 60px 33%;
    
}

.meta{
    z-index: -1;
    position: fixed;
    float: left;
    display: block;
    margin-left: 10%;
    width: 20%;
}

.black-text{
    font-size:large;
    font-weight:bold;
    text-decoration: Underline;
    }

@media screen and (max-width: 768px){
    .meta{
        display:none;
}

}

@media screen and (min-width : 768px) and (max-width: 1023px){
    .meta{
        display: none;
    }
}
