.fond{
    background-color: black;
position:relative;
display: flex;
}

img{
    position: absolute;
    top:50vh;
    right:0;
}

.form{
    background-color:rgb(231, 231, 231);
    border:10px solid rgb(231, 231, 231);;
    border-radius:25px;
    padding:10px 10px 20px 10px;
    position: relative;
    top: 20vh; left: 88vh;
}

button{
   width:55%;
   margin-left: 22%;
   background-color: rgb(125, 193, 238);
   height: 30px;
   border-radius:10px;
}

hr{
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    width:60%;
}

.text{
    text-align: center;
    color: rgb(18, 18, 102);
}

@media screen and (max-width:1023px){
    img{
        width:50%;
        top:65vh;
    }
    .form{
        width: 40%;
        left:18vh;
    }
}
input{
    width:50%;
    margin-left:23%;
    height: 25px;
    border-radius:5px;
}