<!DOCTYPE html>
<html>
<head>
  <title>Projet Pika-Jobs</title>
  <meta charset="utf-8">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body class="fond">
  <header>
    <img
      class="responsive-img titre"
      src="../public/images/gg.png"
      alt="PikaJobs Attrape les tous!"
    />
    <div id="hello">
<h5>Bonjour Administrateur!</h5>
    </div>
    <a class="connect white-text" href="connect.html">Connexion</a>
  </header>
  <div class="pika">
    <img class="responsive-img" src="../public/images/pikaPause.png" alt="pikachu" />
  </div>
  <div class="container row">
    <div class="col s12 m7 l7 push-l3 push-m3" id="offre_container">
        <!--INSERT-->
<form id="CreateForm" action="/public/javascripts/admin.js" method="post">
    <label for="titre">Titre:</label>
    <input type="text" name="titre" id="titre" required/>
    <label for="description">Description:</label>
    <input type="text" name="description" id="description" placeholder="Ici écrivez une petite description de l'offre..." required />
    <label for="lieu"> Lieu:</label>
    <input type="text" name="lieu" id="lieu" required />
    <label for="missions">Missions:</label>
    <input type="text" name="missions" id="missions" placeholder="Ici évrivez les missions relatives à l'offre d'emploi" required/>
    <label for="salaire">Salaire mensuel:</label>
    <input type="number" name="salaire" id="salaire" required/>
    <label for="horaire"> Horaires:</label>
    <input type="text" name="horaire" id="horaire" />
    <label for="avantage">Avantages:</label>
    <input type="text" name="avantage" id="avantage" placeholder="Ici évrivez les avantages fourni avec la prise de poste" />
    <label for="experience">Expérience requise:</label>
    <input type="text" name="experience" id="experience"/>
    <label for="image">Logo associé au poste:</label>
    <input type="text" name="image" id="image"/>
    <button id="button" type="submit" class="submit">Créer l'offre!</button>
</form>
<!--DELETE-->
    <div class="input-field col s12">
        <select id="menu">
         
          
        </select>
        <label>Mes offres:</label>
        <button id="deletebtn" type="submit" class="submit">Supprimer</button>
  <!-- UPDATE      onclick="window.location.href='formUpdate.html';" -->
        <button id="selectUpdate" type="submit" class="submit">Selectionner pour Modifier</button>
        <div id="formUpdate">

        </div>
      </div>



    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js" integrity="sha512-lTLt+W7MrmDfKam+r3D2LURu0F47a3QaW5nF0c6Hl0JDZ57ruei+ovbg7BrZ+0bjVJ5YgzsAWE+RreERbpPE1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../public/javascripts/admin.js" ></script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
  });
  </script>
  
</body>
</html>