<!DOCTYPE html>
<html>
  <head>
    <title>Connexion</title>
    <link rel="stylesheet" href="../public/stylesheets/styleconn.css" />
  </head>
  <body class="fond">
    <img
      class="responsive-img"
      src="../public/images/millo.png"
      alt="milobellus"
    />
    <div class="form">
    <form>
      <h2 class="text">Page de connexion</h2><br/>
        <!-- <label for="email">Email:</label> -->
        <input type="email" name="email" id="email" placeholder="Email"/><br/><br/>
        <!-- <label for="password">Password:</label> -->
        <input type="password" name="password" id="password" placeholder="Password"/><br/><br/>
    </form>
    <button id="connect_btn">Se Connecter</button><br/><br/><hr>
    <h3 class="text">Rejoind l'aventure !</h3>
    <button onclick="window.location.href='inscription.html';">S'inscrire</button>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js" integrity="sha512-lTLt+W7MrmDfKam+r3D2LURu0F47a3QaW5nF0c6Hl0JDZ57ruei+ovbg7BrZ+0bjVJ5YgzsAWE+RreERbpPE1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../public/javascripts/connexion.js"></script>
  </body>
</html>
