<!DOCTYPE html>
<html>
    <head>
    <title>Admin</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/stylesheets/styleAdmin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    </head>
    <body>
    <img
          class="responsive-img titre"
          src="../public/images/gg.png"
          alt="PikaJobs Attrape les tous!"
        />
      <header>
        
        <div id="hello">
          <h5>Bonjour Administrateur</h5>
        </div>
      <div class="row">
        <div class="col s12">
      <a class="connect white-text" href="home.html">Déconnexion</a><br/>
      </div>
      <div class="col s12">
      <a class="connect white-text" href="adminHome.html">Home</a>
     </div>
    </div>
      </header>
      
      <div class="container row">
        <div class="col s1 m1 l1">
          <ul id="slide-out" class="sidenav sidenav-fixed deep-orange lighten-2 center-align">
            <li><a class="waves-effect white-text" href="offreAdmin.html">Mes Offres</a></li>
            <li><a class="waves-effect white-text" href="userAdmin.html">Mes Utilisateurs</a></li>
            <li><a class="waves-effect white-text" href="companieAdmin.html">Companies</a></li>
            <li><a class="waves-effect white-text" href="candidatureAdmin.html">Récapitulatif des candidatures</a></li>
        </ul>
          <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
        
            <main class="col s11 m11 l11">
                
                <div class="col s12 m7 l7 push-l3 push-m3" id="offre_container">
                    <!--INSERT-->
                    <form id="CreateForm" action="/public/javascripts/admin.js" method="post">
                      <label for="titre" class="black-text text-black">Titre:</label>
                      <input type="text" name="titre" id="titre" required/>
                      <label for="description" class="black-text text-black">Description:</label>
                      <textarea type="text" name="description" id="description" placeholder="Ici écrivez une petite description de l'offre..." required ></textarea>
                      <label for="lieu" class="black-text text-black"> Lieu:</label>
                      <input type="text" name="lieu" id="lieu" required />
                      <label for="missions" class="black-text text-black">Missions:</label>
                      <textarea type="text" name="missions" id="missions" placeholder="Ici écrivez les missions relatives à l'offre d'emploi" required></textarea>
                      <label for="salaire" class="black-text text-black">Salaire mensuel:</label>
                      <input type="number" name="salaire" id="salaire" required/>
                      <label for="horaire" class="black-text text-black"> Horaires:</label>
                      <input type="text" name="horaire" id="horaire" />
                      <label for="avantage" class="black-text text-black">Avantages:</label>
                      <textarea type="text" name="avantage" id="avantage" placeholder="Ici écrivez les avantages fournis avec la prise de poste"></textarea>
                      <label for="experience" class="black-text text-black">Expérience requise:</label>
                      <input type="text" name="experience" id="experience"/>
                      <button id="button" type="submit" class="submit waves-effect transparent black-text btn">Créer l'offre!</button>
                    </form>
            <h5 class="black-text text-black fs-large">Mes offres:</h5>
            <!--DELETE-->
                <div class="input-field col s12">
                    <select id="menu">
                     
                      
                    </select>
                    
                    <button id="deletebtn" type="submit" class="submit waves-effect transparent black-text btn">Supprimer</button>
              <!-- UPDATE      onclick="window.location.href='formUpdate.html';" -->
                    <button id="selectUpdate" type="submit" class="submit waves-effect transparent black-text btn" >Selectionner pour Modifier</button>
                    <div id="formUpdate">
            
                    </div>
                  </div>
            
            
            
                </div>
              </div>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js" integrity="sha512-lTLt+W7MrmDfKam+r3D2LURu0F47a3QaW5nF0c6Hl0JDZ57ruei+ovbg7BrZ+0bjVJ5YgzsAWE+RreERbpPE1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="../public/javascripts/admin.js" ></script>
            
              <script>
                document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('select');
                var instances = M.FormSelect.init(elems);
              });
              </script>
            </main>
        </div>
        <script>  
            document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);});
        </script>
    </body>
</html>