<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login to the DashBoard</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" th:href="@{/css/styleinscrip.css}"/>
</head>
<body class="login">

  <div class="form">
  <form action="#" th:action="@{/connection}" th:object="${user}" method="post">
    <h2 class="text">DashBoard Login</h2><br/>
    <input id="name" type="text" th:field="*{name}" placeholder="Name"/><br/><br/>
    <input id="password" type="password" th:field="*{password}" placeholder="Password"/><br/><br/>
    <button type="submit" id="connect_btn">Se Connecter</button><br/><br/><hr>
  </form>

  <h2 class="text">Inscription!</h2>
  <button onclick="window.location.href='inscription';">S'inscrire</button>
  </div>
</body>
</html>